
.Catchframe123 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 1px;
  opacity: 0.0;
  background-color: rgba(150, 150, 150, .8);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2147483647;
}

.CatchframeDark123 {
  background-color: rgba(50, 50, 50, .5);
  position: fixed;
  opacity: 0.0;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2000px;
  z-index: 2147483644;
}

.CatchframeHeader123 {
  position: relative;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid gray;
}

.CatchframeHeader123 p {
  position: relative;
  font-family: Helvetica;
  font-size: 18px;
  color: rgb(100, 100, 100);
  top: 15px;
  left: 10px;
  margin: 0px;
}

.Catchframe123 img {
  position: relative;
  float: left;
  height: 150px;
  width: auto;
}

.CatchframeLargerImage123 {
  position: fixed;
  right: 150px;
  top: 50px;
  height: 0px;
  opacity: 1;
  z-index: 2147483645;
}

.CatchframeLargerImage123 img{
  position: fixed;
  right: 150px;
  top: 50px;
  height: 80%;
  width: auto;
  opacity: 1;
  border-radius: 5px 0px 0px 5px;
  z-index: 2147483646;
}

.lookmarked {
  height: 200px;
  width: 100%;
  background-color: pink;
}




